---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

UseTab: Always
AlignConsecutiveMacros: Consecutive
# AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive

IndentPPDirectives: BeforeHash

EmptyLineBeforeAccessModifier: LogicalBlock
AlwaysBreakTemplateDeclarations: Yes
IndentAccessModifiers: false
AccessModifierOffset: -4
AlignAfterOpenBracket: Align

BreakConstructorInitializers: AfterColon

Cpp11BracedListStyle: false